<body>
        <nav>
            <div class="container nav-container">
                <a href="" class="logo"><h3>Varotra fiara.</h3></a>
                <ul class="nav-link">
                    <li><a href="" style="--i:1;" class="active">Home</a></li>
                    <li><a href="/admin" style="--i:2;">Administration</a></li>
                    <li><a href="" style="--i:3;">Services</a></li>
                    <li><a href="/login" style="--i:4;">Se connecter</a></li>
                    <li><a href="" style="--i:5;">Contact</a></li>
                </ul>
                <ul class="social-link">
                    <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="container header-container">
                <div class="header-left">
                  <h1>Expérience de Vente de Voitures.</h1>
                  <h3>Vendez ou Trouvez Votre Voiture en un Clin d'Œil !</h3>
                  <p>
                      Tous les propriétaires de voitures peuvent désormais vendre leur véhicule sur notre plateforme. Profitez d'une expérience fluide et sécurisée pour mettre votre voiture en vente. Nous simplifions le processus pour vous permettre de trouver rapidement un acheteur potentiel?
                  </p>
                  <a href="" class="btn">Explorer les Voitures</a>
                </div>
                <div class="header-right">
                    <div class="sq-box">
                        <img src="assets/images/car.png" alt="">
                    </div>
                </div>
            </div>
            <div class="sq-box2"></div>
        </header>
</body>